# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# maven
target

#IntelliJ
*.iml
*.ipr
*.iws
.idea/
target/

# eclipse
.classpath
.project
.settings
.myumldata
.springBeans
.tern-project
.myeclipse/
.settings/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
/config-repo/
*.factorypath